.article {

}

.article-illutration {
  width: 100%;
  text-align: center;
}

.article-title {
  font-weight: 500;
}

.article-publishDate {
  color: #888;
  font-size: 0.85em;

  [class^="icon-"] {
    margin-right: 5px;
  }
}

.article-content {
  padding-top: 25px;
}

.img-fluid {
  max-width: 100%;
  width: 100% \9;
  height: auto;
}