.pageHeader {
  background-color: #ECF0F1;
  padding: 30px;
}

.pageNavigation {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pageNavigation-item {
  display: inline;

  a {
    &,
    &:hover {
      color: #2C3E50;
    }

    font-weight: 500;
    font-size: 20px;
  }
}

.pageNavigation-link {
  float: right;
}