extends ../index.pug

block pageContent
  .container
    h2 Will code html for food
    ul.archive
      each post in posts
        li.archiveItem
          a.archiveItem-title
            h2
              = post.title
          p.archiveItem-excerpt
            = post.excerpt
