extends ../index.pug

block pageContent
  .landingPage.container
    h2.landingPage-greeting Will code html for food
    ul.archives
      each post in posts
        li.archiveItem
          a.archiveItem-title&attributes({ href: post.link })
            h2
              = post.title
          p.archiveItem-excerpt
            = post.excerpt
