extends ../index.pug

block pageContent
  article.article
    header.article-header
      .article-illutration
        img.img-fluid&attributes({ src: illustration })
      h3.article-title.container
        = title
      .arcticle-meta.container
        .article-publishDate
          i(class='icon-calendar')
          = publishDate
    section.article-content.container
      != content
